---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import dataDummy from '../../public/dummy/mockData.json';

const getData = dataDummy;
---

<Layout title="Top 5 Best Linktrees">

	<main>
		<h1 class="text-gradient">Top 5 Best Linktrees</h1>
			{getData.map((data: any) => (
				<Card name={data.name} username={data.username} profilePicture={data.profile_picture} bio={data.bio}/>
			))} 

	</main>


</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}

	.link-card-grid {
		display: grid;
		gap: 2rem;
		padding: 0;
	}
</style>
